<div class="d-flex  main">
    <div class="col-md-12 col-sm-12 col-12  myCont">
        <h1> <b >
            Welcome Back!
        </b> </h1>
        <h3>Continue where you Left Off</h3>
        <div class="d-flex myContent" style='width: max-content;'>
            <button class="btn mr-2" routerLink='/mycourses' style='height: fit-content;'>Go To Course</button>
            <div class='myprogress'>
              <p class="p-0 my-0 " style='width: inherit;'>Course Name Test</p>
              <p class="p-0 my-0 ">progress :<span style='color: #f7ba34;'><b style='font-size: large;'> 25%</b></span> completed</p>
            </div>
        </div>
        
    </div>
</div>

<div class="">
  <h1 style="color: #113e7f" class="p-5 col-md-12 col-sm-12 col-12"><b> Popular Courses </b></h1>
  <div class="container-fluid d-flex">
    <div class="col-md-1 col-sm-1 col-1 pt-5">
      <i class="icofont-curved-left icofont-3x cardIcons"></i>
    </div>
    <div class="col-md-10 col-sm-10 col-10 mainourses jumbotron">
      <div class="C-card2  col-md-3 col-sm-6 col-6" *ngFor="let item of PopularCources">
        <div class="myImg">
          <img [src]="item.Img" height="100%" width="100%" alt="" />
          <span class="price"> ${{ item.Price }} </span>
        </div>
        <div class="col-md-6" style="display: table-row-group">
          <span class="d-content ml-2">
            <ngb-rating
              class="rate"
              [max]="5"
              [rate]="item.Rate"
              [readonly]="true"
            ></ngb-rating>
            <span></span></span
          >
        </div>
        <div class="par pt-3 ml-0">
          <h2>{{ item.Header }}</h2>
          <p>{{ item.Description }}</p>
        </div>
        <div class="d-flex justify-content-start p-0 px-1  cardfooter">
          <div class="enroll col-md-6 col-sm-12 col-12">
            <i [class]="item.EnrollIcon" class=''></i>
            <span> {{ item.Enrolled }} Enrolled</span>
          </div>
          <div class="enroll col-md-6 col-sm-12 col-12">
            <i [class]="item.LikeIcon" class='mb-3' style="color: red"></i>
            <span>{{ item.Liked }} Like</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-1 pt-5 Left">
      <i class="icofont-curved-right icofont-3x cardIcons"></i>
    </div>
  </div>
</div>


<div class="">
  <h1 style="color: #113e7f" class="p-5 col-md-12 col-sm-12 col-12"><b> Popular Courses </b></h1>
  <div class="container-fluid d-flex">
    <div class="col-md-1 col-sm-1 col-1 pt-5">
      <i class="icofont-curved-left icofont-3x cardIcons"></i>
    </div>
    <div class="col-md-10 col-sm-10 col-10 mainourses jumbotron">
      <div class="C-card2  col-md-3 col-sm-6 col-6" *ngFor="let item of PopularCources">
        <div class="myImg">
          <img [src]="item.Img" height="100%" width="100%" alt="" />
          <span class="price"> ${{ item.Price }} </span>
        </div>
        <div class="col-md-6" style="display: table-row-group">
          <span class="d-content ml-2">
            <ngb-rating
              class="rate"
              [max]="5"
              [rate]="item.Rate"
              [readonly]="true"
            ></ngb-rating>
            <span></span></span
          >
        </div>
        <div class="par pt-3 ml-0">
          <h2>{{ item.Header }}</h2>
          <p>{{ item.Description }}</p>
        </div>
        <div class="d-flex justify-content-start p-0 px-1  cardfooter">
          <div class="enroll col-md-6 col-sm-12 col-12">
            <i [class]="item.EnrollIcon" class=''></i>
            <span> {{ item.Enrolled }} Enrolled</span>
          </div>
          <div class="enroll col-md-6 col-sm-12 col-12">
            <i [class]="item.LikeIcon" class='mb-3' style="color: red"></i>
            <span>{{ item.Liked }} Like</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-1 pt-5 Left">
      <i class="icofont-curved-right icofont-3x cardIcons"></i>
    </div>
  </div>
</div>


<div class="">
  <h1 style="color: #113e7f" class="p-5 col-md-12 col-sm-12 col-12"><b> Popular Courses </b></h1>
  <div class="container-fluid d-flex">
    <div class="col-md-1 col-sm-1 col-1 pt-5">
      <i class="icofont-curved-left icofont-3x cardIcons"></i>
    </div>
    <div class="col-md-10 col-sm-10 col-10 mainourses jumbotron">
      <div class="C-card2  col-md-3 col-sm-6 col-6" *ngFor="let item of PopularCources">
        <div class="myImg">
          <img [src]="item.Img" height="100%" width="100%" alt="" />
          <span class="price"> ${{ item.Price }} </span>
        </div>
        <div class="col-md-6" style="display: table-row-group">
          <span class="d-content ml-2">
            <ngb-rating
              class="rate"
              [max]="5"
              [rate]="item.Rate"
              [readonly]="true"
            ></ngb-rating>
            <span></span></span
          >
        </div>
        <div class="par pt-3 ml-0">
          <h2>{{ item.Header }}</h2>
          <p>{{ item.Description }}</p>
        </div>
        <div class="d-flex justify-content-start p-0 px-1  cardfooter">
          <div class="enroll col-md-6 col-sm-12 col-12">
            <i [class]="item.EnrollIcon" class=''></i>
            <span> {{ item.Enrolled }} Enrolled</span>
          </div>
          <div class="enroll col-md-6 col-sm-12 col-12">
            <i [class]="item.LikeIcon" class='mb-3' style="color: red"></i>
            <span>{{ item.Liked }} Like</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-1 pt-5 Left">
      <i class="icofont-curved-right icofont-3x cardIcons"></i>
    </div>
  </div>
</div>
