<div class="p-0">
  <div class="col-12 nav d-flex">
    <p>
      Concept Art Video Games <span> > <b>The modifying Tools</b></span>
    </p>
  </div>

  <div class="row cont p-0">
    <div
      class="col-md-2 col-sm col sideBar main"
      [class.main]="this.test"
      
    >
      <div class="mySideBar myTree" (mouseleave)="this.test == true">
        <div class="mt-5">
          <h2>Week1</h2>
          <ul class="pl-3">
            <li><h2>HeadLine 1</h2></li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time"> 10min</span>
            </li>

            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
          </ul>
        </div>
        <div>
          <h2>Week2</h2>
          <ul class="pl-3">
            <li><h2>HeadLine 1</h2></li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time"> 10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
          </ul>
        </div>
        <div>
          <h2>Week3</h2>
          <ul class="pl-3">
            <li><h2>HeadLine 1</h2></li>

            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time"> 10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
            <li>
              <span class="d-block"
                ><i class="icofont-play"></i> Video : Video Name 1</span
              >
              <span class="time">10min</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <span (click)="this.test = !this.test" class="mycollapse"
      ><i class="icofont-navigation-menu"></i
    ></span>
    <div class="col-md col-sm col pr-0 p-3">
      <div class="">
        <div class="col-md-12 mt-5 pr-0">
          <div class="myHeader d-flex justify-content-between">
            <h1>Video Name 1</h1>
            <div><span>Prev</span> | <span>Next</span></div>
          </div>
          <div class="video" style="--aspect-ratio: 16/9">
            <iframe
              src="https://www.youtube.com/embed/guCwdHngTmM"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="myFooter d-flex justify-content-between py-1">
            <div class="mybtns justify-content-between d-flex">
              <button class="btn videoBtn">Save Note</button>
            </div>
            <div class="myIcons">
              <ul>
                <li>
                  <img src="../../../../assets//video/like.png" alt="" />
                </li>
                <li>
                  <img src="../../../../assets//video/dislike.png" alt="" />
                </li>
                <li>
                  <img src="../../../../assets//video/flag.png" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-5 pr-0">
          <h1 class="px-3">Video Summary</h1>
          <p class="desc px-3" style="text-decoration: none">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet,
            perferendis consequatur? Consectetur error explicabo quis dicta
            repellendus, aut cupiditate molestias, sapiente porro pariatur nisi
            sit dolorum quidem numquam. Quas, fugit. Rerum laborum omnis cum
            laudantium quisquam quae officia nostrum hic obcaecati maxime, quam
            neque quibusdam, delectus illum quod? Ut rerum rem facere harum ad
            quaerat fugit? Blanditiis laboriosam iure libero? Distinctio,
            dignissimos tempore alias officiis magni aut praesentium natus
            soluta vel, quod hic ipsam sequi, debitis ipsum et amet. Sunt cum ab
            similique voluptatum voluptates repellat nemo voluptas illum
            tempore? Quisquam aliquid quas consectetur laboriosam voluptas
            exercitationem illum iusto consequatur, ad fugiat hic asperiores
            dolorum earum? Laudantium doloremque nemo explicabo tenetur magni
            magnam ipsum a aperiam saepe nobis. Eius, temporibus. Eos illo minus
            deserunt, enim ipsum voluptatem maxime eligendi cum voluptas impedit
            modi, iusto non repellat? Voluptatum, perferendis? Laudantium
            consectetur autem neque sed sit tenetur quisquam nostrum vero,
            aperiam odit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
