


<div class="container">
    <div class="myCard jumbotron">
        <div class="d-flex justify-content-between px-4 py-1 main">
            <span> Part of <span>Game Art Dpecialization</span> </span>
            <span><i class="icofont-navigation-menu"></i></span>
        </div>
        <div class="col-md-12 p-3 d-flex jumbotron">
            <div class="col-md-9 maininfo">
                <h2>Concept Art For Vedio Games</h2>
                <span> <i class="active"></i> Completed </span>
                <p class='watched'>Watched : 2/3 Times </p>
            </div>
            <div class="col-md-3">
                <button class="btn"> Get your Certificates </button>
            </div>
        </div>
        <div class="col-md-12 footer">
    <small>Faculty of Science - Alexandria Univercity</small>
        </div>
    </div>
    <div class="myCard">
        <div class="d-flex justify-content-between px-4 py-1 main">
            <span> Part of <span>Game Art Dpecialization</span> </span>
            <span><i class="icofont-navigation-menu"></i></span>
        </div>
        <div class="col-md-12 p-3 d-flex">
            <div class="col-md-9 maininfo">
                <h4>Concept Art For Vedio Games</h4>
                <span> <i class="active"></i>Completed</span>
                <p class='watched'>Watched : 2/3 Times </p>
            </div>
            <div class="col-md-3">
                <button class="btn"> Get your Certificates </button>
            </div>
        </div>
        <div class="col-md-12 footer">
    <small>Faculty of Science - Alexandria Univercity</small>
        </div>
    </div>
    <div class="myCard">
        <div class="d-flex justify-content-between px-4 py-1 main">
            <span> Part of <span>Game Art Dpecialization</span> </span>
            <span><i class="icofont-navigation-menu"></i></span>
        </div>
        <div class="col-md-12 p-3 d-flex">
            <div class="col-md-9 maininfo">
                <h4>Concept Art For Vedio Games</h4>
                <span> <i class="active"></i> Completed </span>
                <p class='watched'>Watched : 2/3 Times </p>
            </div>
            <div class="col-md-3">
                <button class="btn"> Get your Certificates </button>
            </div>
        </div>
        <div class="col-md-12 footer">
    <small>Faculty of Science - Alexandria Univercity</small>
        </div>
    </div>
    
</div>

