.main{
    background-color: #113e7f;
    color: white;
    position: relative;
    font-size: 123%
    ;
}
.myCard{
    border-radius: 1em;
    overflow: hidden;
    margin-top: 45px;
}
.maininfo{
    line-height: 2rem;
}
.footer{
    border-top: 1px solid rgba(211, 208, 208, 0.5);
    color: grey;
    padding: 5px 10px;

}
.myCard{
    box-shadow: -6px 12px 12px -3px rgba(0,0,0,0.57);


}
.active{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
    margin-right: 15px;
}
.watched{
        padding-left: 28px;

}
.jumbotron{
    padding: 0px;
}
/* .btn{
    margin-left: 55px;

} */
@media only screen and (max-width: 995px) {
    .myCard{
        line-height: 15px;
    }
    .jumbotron{
        padding: 0px;
        margin-bottom: 0px;
    }
     .col-md-3 .btn{
      margin-left: 0px;
      font-size: smaller;

  }
  }
  @media only screen and (max-width: 480px) {
    .myCard{
        line-height: 15px;
    }
 
      .myCard span{
      font-size: 76%; 
  }
  .col-md-3 .btn{
      margin-left: 0px;
      font-size: smaller;

  }
  .col-md-9 h2{
    font-size: 84%;
    line-height: 145%;
  }
  .active{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
    display: inline-block;
    margin-right: 1%;
}
.watched{
    padding-left: 8px;
    font-size: smaller;
    display: flex;

}
.maininfo{
    padding: 0px;
}
.maininfo p{
    padding: 0px;
    font-size: x-small;
}
.maininfo h4{
    font-size: small;

}
  }
  @media only screen and (max-height: 500px) {
      .btn{
          font-size: 90%;
      }
  }