

<div class="container">
    <div class="myCard jumbotron">
        <div class="d-flex justify-content-between px-4 py-1 main">
            <span class='display-6'> Part of <span>Game Art Specialization</span> </span>
            <span><i class="icofont-navigation-menu"></i></span>
        </div>
        <div class="col-md-12 p-3 d-flex jumbotron">
            <div class="col-md-9 maininfo">
                <h2 class='display-6'>Concept Art For Video Games</h2>
                <span> <i class="active"></i> in Progress </span>
                <p class='watched '>Watched : 0/3 Times </p>
            </div>
            <div class="col-md-3">
                <button class="btn" routerLink='/course'> Go To Course </button>
            </div>
        </div>
        <div class="col-md-12 footer">
    <small>Faculty of Science - Alexandria Unversity</small>
        </div>
    </div>
    
    <div class="myCard jumbotron">
        <div class="d-flex justify-content-between px-4 py-1 main">
            <span class='display-6'> Part of <span>Game Art Specialization</span> </span>
            <span><i class="icofont-navigation-menu"></i></span>
        </div>
        <div class="col-md-12 p-3 d-flex jumbotron">
            <div class="col-md-9 maininfo">
                <h2 class='display-6'>Concept Art For Vedio Games</h2>
                <span> <i class="active"></i> in Progress </span>
                <p class='watched '>Watched : 0/3 Times </p>
            </div>
            <div class="col-md-3">
                <button class="btn" routerLink='/course'> Go To Course </button>
            </div>
        </div>
        <div class="col-md-12 footer">
    <small>Faculty of Science - Alexandria University</small>
        </div>
    </div>
    
    <div class="myCard jumbotron">
        <div class="d-flex justify-content-between px-4 py-1 main">
            <span class='display-6'> Part of <span>Game Art Specialization</span> </span>
            <span><i class="icofont-navigation-menu"></i></span>
        </div>
        <div class="col-md-12 p-3 d-flex jumbotron">
            <div class="col-md-9 maininfo">
                <h2 class='display-6'>Concept Art For Video Games</h2>
                <span> <i class="active"></i> in Progress </span>
                <p class='watched '>Watched : 2/3 Times </p>
            </div>
            <div class="col-md-3 ">
                <button class="btn" routerLink='/course'> Go To Course </button>
            </div>
        </div>
        <div class="col-md-12 footer">
    <small>Faculty of Science - Alexandria Unversity</small>
        </div>
    </div>
    
</div>