<button (click)="this.login.display = !this.login.display" class="btn Megabtn">
  Explore<i class="icofont-arrow-down icofont-.1x"></i>
</button>

<div class="menu-wrapper col" role="navigation" *ngIf="this.login.display">
  <ul class="nav" role="menubar">
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>

      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li role="menuitem">
      <span>Menu Item 2 <i class="icofont-curved-right"></i></span>
      <div class="mega-menu" aria-hidden="true" role="menu">
        <div class="nav-column">
          <h3>Heading 1</h3>
          <ul>
            <li role="menuitem"><a href="#">Item 1</a></li>
            <li role="menuitem"><a href="#">Item 2</a></li>
            <li role="menuitem"><a href="#">Item 3</a></li>
            <li role="menuitem"><a href="#">Item 4</a></li>
            <li role="menuitem"><a href="#">Item 5</a></li>
            <li role="menuitem"><a href="#">Item 6</a></li>
            <li role="menuitem"><a href="#">Item 7</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <button class="btn btn-success w-100">Show All</button>
    </li>
  </ul>
</div>
