<div class="forFooter ">
    <div class="col-md-3 col-sm-6 col-6 cont">
        
        <ul class="col-sm-12 col-12">
            <li class=""> <h4>Get In Touch</h4> </li>
            <li class=""> <i class="icofont-ui-touch-phone"></i> 01014255894</li>
            <li> <i class="icofont-ui-email"></i>MyEmail</li>
            <li> <i class="icofont-location-pin"></i>My Address about two lines</li>
            <ul class='Payment'>
                <li><i class="icofont-facebook"></i> </li>
                <li> <i class="icofont-instagram"></i> </li>
                <li><i class="icofont-twitter"></i> </li>
                <li><i class="icofont-linkedin"></i></li>
            </ul>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 col-6 cont"> 
        <ul>
            <li> <h4>Useful Links</h4> </li>
            <li>All Courses</li>
            <li>Instructors</li>
            <li>Join a Career</li>
            <li>NewsLetters</li>
            <li>Contacts</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 col-6 cont">
        <ul>
            <li> <h4>About Combany</h4> </li>
            <li>How it works</li>
            <li>About Us</li>
            <li>Site Maps</li>
            <li>Blogs</li>
            <li>Privacy</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 col-6 cont">
        <ul>
            <li> <h4>We Accept Payment Option ...</h4> </li>
            <ul class='Payment col-md-12 '>
                <li>
                    <img src="../../../../assets/footer/1-15674_visa-logo-png-transparent-visa-logo-2019-png.png" alt="">
                </li>
                <li>
                    <img src="../../../../assets/footer/MasterCard_early_1990s_logo.svg.png" alt="">

                </li>
                <li>
                    <img src="../../../../assets/footer/paypal.png" alt="">

                </li>
            </ul>
        </ul>
    </div>
</div>